<link rel="stylesheet" href="~/css/Materia.css" />
<h1>Welcome to LoginReg!</h1>
<div class="split">
    <partial name="Login"></partial>
</div>
<div class="split">
    <partial name="Register"></partial>
</div>